<div class="p-5">
  <mat-card class="m-4">
    <mat-card-title>Add Latest News</mat-card-title>
    <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Link" formControlName="link" required>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!newsForm.valid">ADD</button>
    </form>
  </mat-card>
</div>