.spacer {
  flex: 1 1 auto;
}
.menu-btn {
  outline: none;
}
.mat-elevation-z4 {
  position: relative;
  z-index: 2;
}
.mat-toolbar {
  position: fixed;
}
.mat-sidenav-container {
  top: 64px !important;
  @media (max-width: 599px) {
    top: 56px !important;
  }
}
