<mat-toolbar class="mat-elevation-z6 bg-white">
  <mat-toolbar-row>
    <nav class="nav" role="navigation">
      <a class="nav-link" mat-button color="primary" routerLink="/" ><span>XCCS 0516P</span></a>
      <a class="nav-link" mat-button color="primary" routerLink="/home" >Home</a>
      <a class="nav-link" mat-button color="primary" routerLink="/courses" >Courses Offered</a>
      <a class="nav-link" mat-button color="primary" routerLink="/time-table" >Time Table</a>
      <a class="nav-link" mat-button color="primary" routerLink="/gallery" >Gallery</a>
      <a class="nav-link" mat-button color="primary" routerLink="/about" >About Us</a>
      <a class="nav-link" mat-button color="primary" routerLink="/contact" >Contact</a>
    </nav>
  </mat-toolbar-row>  
</mat-toolbar>
<router-outlet></router-outlet>