<mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row>
        <nav class="nav">
        <a class="nav-link" routerLink="/" ><span>XCCS 0516P</span></a>
        <a class="nav-link text-white active" routerLink="" >Home</a>
        <a class="nav-link text-white" routerLink="/" >Courses Offered</a>
        <a class="nav-link text-white" routerLink="/" >Time Table</a>
        <a class="nav-link text-white" routerLink="/" >Gallery</a>
        <a class="nav-link text-white" routerLink="/about" >About Us</a>
        <a class="nav-link text-white" routerLink="/" >Contact</a>
        </nav>
    </mat-toolbar-row>  
</mat-toolbar>
<router-outlet></router-outlet>