<div class="container-fluid mx-0">
  <div class="row mt-4 justify-content-center">
    <div class="col-lg-8">
      <mat-card>
        <mat-card-title>
          Courses Offered at 0516P
        </mat-card-title>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                BCA
              </mat-panel-title>
              <mat-panel-description>
                Bachelor of Computer Application
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2 class="p-2">Bachelor of Computer Application</h2>
            <mat-list>
              <mat-list-item>Minimum Duration  : 3 Years</mat-list-item>
              <mat-list-item>Maximum Duration  : 6 Years</mat-list-item>
              <mat-list-item>Course Fee        : 36,000</mat-list-item>
              <mat-list-item>Minimum Age       : No Bar</mat-list-item>
              <mat-list-item>Maximun Age       : No Bar</mat-list-item>
              <mat-list-item>Eligibility       : 10+2 or equivalent</mat-list-item>
            </mat-list>
            <p>
              Course Fee: Rs. 6,200/- For Ist Semester(Rs. 200 in addition Registration Fees to Rs. 6,000 as Registration charges) and Rs. 6,000/- Per Semester for Second Semester Onwards.
            </p>
            <p>
              The basic objective of the programme is to open a channel of admission for computing courses for students, who have done the 10+2 and are interested in taking computing/IT as a career. After acquiring the Bachelor’s Degree (BCA) at IGNOU, there is further educational opportunity to go for an MCA at IGNOU or Master’s Programme at any other University/Institute. Also after completing BCA Programme, a student should be able to get entry level job in the field of Information Technology or ITES.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>
  </div>
</div>
