<mat-progress-bar *ngIf="(courses$ | async) === null" mode="query"></mat-progress-bar>
<div class="container-fluid mx-0">
  <div class="row mt-4 justify-content-center">
    <div class="col-lg-8">
      <mat-card>
        <mat-card-title>
          Courses Offered at 0516P
        </mat-card-title>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let course of courses$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{course.programme_code}}
              </mat-panel-title>
              <mat-panel-description>
                {{course.programme_name}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2 class="p-2">{{course.programme_name}}</h2>
            <mat-list>
              <mat-list-item>Minimum Duration  : {{course.min_duration}}</mat-list-item>
              <mat-list-item>Maximum Duration  : {{course.max_duration}}</mat-list-item>
              <mat-list-item>Course Fee        : {{course.course_fee}}</mat-list-item>
              <mat-list-item>Minimum Age       : {{course.min_age}}</mat-list-item>
              <mat-list-item>Maximun Age       : {{course.max_age}}</mat-list-item>
              <mat-list-item>Eligibility       : {{course.eligibility}}</mat-list-item>
            </mat-list>
            <p>
              {{course.info}}
            </p>
            <p>
              {{course.description}}
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>
  </div>
</div>
