<mat-toolbar color="primary">Gallery</mat-toolbar>
<mat-progress-bar
  *ngIf="(events | async) === null"
  mode="query"
></mat-progress-bar>

<div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="center">
  <mat-card
    class="my-4"
    *ngFor="let event of (events | async)"
  >
    <mat-card-header>
      <mat-card-title>{{ event.title }}</mat-card-title>
      <mat-card-subtitle>{{ event.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="event.thumbnail" />
    <mat-card-content>
      <p>
        {{ event.description }}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary">
        SEE ALL PHOTOS <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
