<div class="container pt-4">
  <div class="row">
    <div class="col-lg-4">
        <mat-card class="mb-4">
          <mat-card-header>
            <mat-card-title>Shiba Ifu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button color="primary">SEE ALL PHOTOS <mat-icon>arrow_forward</mat-icon></button>
          </mat-card-actions>
        </mat-card>    
    </div>
  </div>
</div>

