<div class="container">
    <div class="row my-4">
      <div class="col">
        <mat-card>
          <mat-card-title>Add Courses Offered</mat-card-title>
  
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Programme Code">
          </mat-form-field> <br>
  
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Programme Name">          
          </mat-form-field> <br>
  
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Minimum Duration">
          </mat-form-field> <br>
  
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Maximum Duration">
          </mat-form-field> <br>
  
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Course Fee">
          </mat-form-field> <br>
  
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Minimun Age">
          </mat-form-field> <br>
  
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Maximum Age">
          </mat-form-field> <br>
  
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Eligibility">          
          </mat-form-field> <br>
  
          <mat-form-field class="w-100">
            <textarea matInput name="" id="" cols="30" rows="10" placeholder="Info"></textarea>
          </mat-form-field> <br>
  
          <mat-form-field class="w-100">
            <textarea matInput name="" id="" cols="30" rows="10" placeholder="Description"></textarea>
          </mat-form-field>
  
          <button mat-raised-button color="primary">ADD</button>
        </mat-card>
      </div>
    </div>
  </div>
  