<div fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutAlign.xs="start">
  <app-banner class="mx-3 mt-3" fxFlex="75"></app-banner>
  <app-news class="mx-3 mt-3" fxFlex="25"></app-news>
</div>
<div fxLayout fxLayoutAlign="center">
  <h3 style="padding: 16px">Prominent Persons</h3>
</div>
<div fxLayout fxLayout.xs="column" fxLayoutGap="16px" fxLayoutWrap class="px-3">
  <mat-card fxFlex="25" *ngFor="let person of prominentPersons">
    <mat-card-header>
      <mat-card-title>
        {{person.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{ person.description }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image [src]="person.imageUrl" />
    </mat-card-content>
  </mat-card>
</div>
