.cover-bg {
  background-size: cover;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/xccs-0516p.appspot.com/o/banner%2Fdisplay-image.jpg?alt=media&token=9a9143a6-6594-4fe7-88e0-66031d40ae4f');
  background-position: center;
  height: 94vh;
}
.mat-card {
  padding-bottom: 0;
  margin-bottom: 16px;
}
