.cover-bg{
    background-size: cover;
    background-image: url('http://0516p.info/images/banner1.jpg');
    background-position: center;
    height: 94vh;
}
.mat-card {
    padding-bottom: 0;
    margin-bottom: 16px;
}
