<mat-card>
  <mat-card-title>Latest News</mat-card-title>
  <mat-divider class="up mat-elevation-z1"></mat-divider>
  <mat-card-content class="pt-3 below">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="/time-table">thisis vsome long text wsome long text wsome long text wsome long text wsome long text wsome long text wsome long text wsome long text </a>
      </li>
      <li class="list-group-item">
        <a href="/time-table">thisis vsome long text wsome long text </a>
      </li>
      <li class="list-group-item">
        <a href="/time-table"> wsome long text wsome long text wsome long text wsome long text wsome long text </a>
      </li>
      <li class="list-group-item">
        <a href="/time-table">thisis vso text wsome long text wsome long text wsome long text </a>
      </li>
      <li class="list-group-item">
        <a href="/time-table">thisis vsome  wsome long text wsome long text wsome long text wsome long text wsome long text </a>
      </li>
      <li class="list-group-item">
        <a href="/time-table">thisis vsome long text wsome long text wsome long text wsome long text wsome long text wsome long text wsome long text wsome long text </a>
      </li>
    </ul>

  </mat-card-content>
</mat-card>