<footer class="pt-3">
  <div class="container text-center text-md-left mt-3">
    <div class="row mt-2">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">XCCS 0516P</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Xavier's Center for Computer Studies.
        </p>
        <p>
          Offering high-quality teaching through the Open and Distance Learning (ODL) mode since 1995.
        </p>
      </div>
      <!-- Grid column End-->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Services</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="text-white" href="http://exam.ignou.ac.in/" target="_blank">Examination Form</a>
        </p>
        <p>
          <a class="text-white" href="https://onlineadmission.ignou.ac.in/admission/" target="_blank">New Admission</a>
        </p>
        <p>
          <a class="text-white" href="https://onlineadmission.ignou.ac.in/onlinerr/StudentReRegistrationForm.aspx" target="_blank">Re-Registration</a>
        </p>
      </div>
      <!-- Grid column End-->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Results</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="text-white" href="http://www.ignou.ac.in/ignou/studentzone/results/2" target="_blank">Term End Result</a>
        </p>
        <p>
          <a class="text-white" href="http://www.ignou.ac.in/ignou/studentzone/results/4" target="_blank">Grade Card</a>
        </p>

      </div>
      <!-- Grid column End-->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          St. Xaviers School<br>
          West Gandhi Maidan<br>
          Patna-800001
        </p>
        <p>
          info@0516p.info
        </p>
        <p>
          0612 223 456 789
        </p>
      </div>
      <!-- Grid column End-->

    </div>
  </div>

  <div class="text-center py-3 copyright">
    <span>&copy; {{today | date : 'yyyy'}}</span> Developed by
    <a href="https://github.com/h4rdw1r3" target="_blank" class="text-white">h4rdw1r3</a>
  </div>
</footer>
